# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Environments ---
.env
.venv
env/
venv/
ENV/

# --- Testing & Reports ---
.pytest_cache/
.tox/
.coverage
htmlcov/
report.html
assets/
*.log

# --- Distribution / Build ---
dist/
build/
*.egg-info/

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/